# --- Compilados e Binários ---
*.a
*.d
*.o
*.obj
*.exe
*.out
*.app

# --- Pastas de Build ---
bin/
build/

# --- Logs e Dados Temporários ---
*.log
*.tmp
data/

# --- Editor e Sistema Operacional ---
.vscode/
.DS_Store
Thumbs.db
.codex
.codex/
.lwjgl
.lwjgl/
