# --- Binários e Compilados ---
*.o
*.a
*.so
*.exe
*.out
*.app

# --- Pastas de Saída e Build ---
bin/
build/
*/build/
dist/

# --- Logs e Dados ---
*.log
data/

# --- Arquivos do Sistema/IDE ---
.DS_Store
.vscode/

# --- Documentação Temporária ---
GEMINI.md
